:root{
  --secondary-color-white:#e4f1ec;
}
body {
  margin: 0;
 
}
section{
 
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  background-image: linear-gradient(rgba(44, 122, 123, 0.5), rgba(44, 122, 123, 0.5)),url('./images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



}


