:root{
  --color-teal:#319795;
  --color-white:#F5F5F5;
  --color-dark:#324B4A;
  --color-second-dark:#1F3030;
  --color-gray:#95B1AF;
  --color-accent: #BA7589;
  --color-second-accent: #834357
}
body {
  margin: 0;
 
}
section{
 
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  background-image: linear-gradient(rgba(50, 75, 74, 0.5), rgba(50, 75, 74, 0.5)),url('./images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50rem;
  
}
.productPage{
  width: 100%;
  height: 40vh;
  position: relative;
  display: flex;
  background-image: linear-gradient(rgba(50, 75, 74, 0.5), rgba(50, 75, 74, 0.5)),url('./images/productsHero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  


}
.aboutPage{
  width: 100%;
  height: 40vh;
  position: relative;
  display: flex;
  background-image: linear-gradient(rgba(50, 75, 74, 0.5), rgba(50, 75, 74, 0.5)),url('./images/aboutpage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 


}

.cart-count {
  position: absolute;
  top:-10px;
  right: -10px;
  background-color: red;
  color: var(--color-white);
  border-radius: 50%;
  font-size: 0.75rem;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader{

  border: 4px solid rgba(0, 0, 0, 0.1);
 
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-left-color: var(--color-second-dark); 
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



